<div style="height: 25px;background-color: #C2185B;">
</div>
<div class="myarticle">
<button style="float:right;color:#FFFFFF;background-color: #FF5252;"class="btn"ng-click="closeModal()">close</button>
<h1 >Disclaimer</h1>
<p>
This website is built just as a hobby project which is not meant to be use for  exhaustive,
secured and professional use. So i would be glad if this website could help you in any way.
All the information and service provided on this website are for general purpose. while i endeavour to keep your info secure and
provide uptodate and correct info from my side, i make no reprsentation of warrranties
of any kind, express or implied about accuracy, reliability and availability of the services
of this website.<br><br>
In no event i will be liable or responsible for any damage or loss incurred with the use of this
website. Any reliance on this website  is strictly at your own risk. Please do read
Privacy statement and term and condition of use of this website for more info.<br><br>

If you find any content that is objectionable or  copyright and infringement violation.
please mail to me at below address with explanation and proof, then only action will be taken.
<address>
<h3>Contact</h3>
WrittenBy: Kr Vikash<br>
Mailto: <a style="color:#F8BBD0" href="mailto:support@trackourmoney.com">support@trackourmoney</a><br>
Website:<a style="color:#F8BBD0" href="http://www.trackourmoney.com">trackourmoney.com</a><br>
Bangalore<br>
India
</address>
</p>

<h1>Introduction</h1>
<img src="img/me.jpg" class="img-circle" style="float: right;"width="150" height="100">
<p>Hello, My name is vikash, by profession i am software enginner from India.
I like to write software solution for our day to day small problem.
This project is my one of hobby project. I will talk more about this.</p>

<h2>What is this all about</h2>
<p>Well everyone has money and all of us must be having at least one
activity once in a day which involve money. If not once in a day then may be
more in a month or a year. May be you want to keep track of your money.
Its normal... right!, everyone wants to do this... whats special!
Special thing is, how we want to track our money...<b>simple</b>...<b>ease of use</b>
<b>fast</b>...will talk about the principle of money activity flow that this app
is built upon in next para. I have written the flow mostly what i have practiced in real life
so may be this might not be good experiance for you.</p>

<h2>Understanding the flow </h2>
<p>This is very simple flow. In which any transaction start with amount.
Following are 5 attribute of the transaction
<ul>
<li><b>Amount:   </b>all transaction must have amount</li>
<li><b>Type:   </b>only 3 type..<i>Income</i>..<i>Expense</i>...<i>Transfer</i></li>
<li><b>Source: </b> depending on type of transaction, source could be different. e.g Source of expense might be shopping and destination credit card</li>
<li><b>Destination: </b> Same as source ex..one of source of income  might be  Salary and destination bank saving account </li>
<li><b>Date: </b>This is inherent character of any activity</li>
</ul>
source and destination are just endpoint of any money activity flow. will give you
use case scenario in follwoing table. so you can understand identify the transaction
type, source and destination to use this app efficently.</p>

<table>
<th>Activity</th>
<th>Type</th>
<th>Source</th>
<th>Destination</th>
<tr>
<td>Got Salary</td>
<td>Income</td>
<td>Salary</td>
<td>ICICI-Saving-Account</td>
</tr>
<tr>
<td>Bought cloth</td>
<td>Expense</td>
<td>Shopping</td>
<td>ICICI-Credit-Card</td>
</tr>
<tr>
<td>Topup Mobile</td>
<td>Expense</td>
<td>Mobile recharge</td>
<td>Paytm-Wallet</td>
</tr>
<tr>
<td>Transfe money</td>
<td>Transfer</td>
<td>HDFC-Saving-Account</td>
<td>ICICI-Saving-Account</td>
</tr>
<tr>
<td>Got Salary</td>
<td>Income</td>
<td>Salary</td>
<td>ICICI-Saving-Account</td>
</tr>
<tr>
<td>Got Refund</td>
<td>Income</td>
<td>Refund</td>
<td>ICICI-Credit-Card</td>
</tr>
<tr>
<td>Transfer money to family</td>
<td>Expense</td>
<td>Family expense</td>
<td>ICICI-Saving-Account</td>
</tr>
<tr>
<td>Lend to friend</td>
<td>Expense</td>
<td>Lend</td>
<td>Cash-Account</td>
</tr>
<tr>
<td>Borrow from  friend</td>
<td>Income</td>
<td>Borrow</td>
<td>ICICI-Saving-Account</td>
</tr>
</table>

<h2>How this is efficent..how it will save time</h2>
<p>You just have to enter amount. yes ..other
details will be automatically fetched. How ..when you create account
..your account will have basic default template of moneyAccount, Income source and
expense source this can be edited and modified by you to suit to your particular need.
will not give the date controll to be entered, it will be automatically taken the day
on which you entered your transaction So you need to honour the saving the transaction on the
the date it happedned to get the accurate date </p>

</div>
