
<div style="margin-bottom:-10px"class="myarticle">
<button style="float:right;" class="input-button-red btn"ng-click="closeModal()">close</button>


<h2>Introduction</h2>
<img src="img/me.jpg" class="img-circle" style="float: right;"width="150" height="100">
<p>
Hi, My name is Vikash. I like to learn and use new technology. I have built this website as
hobby project.Using this website, you can track your personal or group financial transaction.
I will talk more about this.</p>

<h2>Basic Scenario</h2>
<p>We all do money transaction in various form or activity and we want to track those transaction.
We might want some transaction to be tracked as personal and some transaction as group or same
transaction as personal and group depending on scenario.</p>


<p>
<b>First Scenario:</b> Personal tracking<br>
You want to track your income, expense or transfer. On what item you expense more,
to whom and how much you have lend....etc <br>
<b>Final Objective:</b> How much, when, on what, where; expense, income or transfer.
</p>

<p>
<b>Second Scenario:</b>  Group tracking<br>
Suppose you live in PG and share the expense with your friends where each member buy some items
at different time and expense is shared by each member of the group. <br>
<b>Final Objective:</b> How much each member will give to or get from other member.
</p>

<p>
<h2>Why you might want to use this website</h2>
While saving the record, everyone want that they dont have to type more. I am so lazy that if
i have to type more, Better i will use something else. So here also, if everything is ok,
then you just have to enter amount thats it. Even if you want to change something,
that is even just drop and select, no text type. In order to achieve this, you might want to
customize your template to suit your need. Basic template is created for both personal and group,
when you create your account. That's it.!!!!!!!!!!
</p>

<div>
<label style="float:left" class="msg-green">Tested on Google Chrome, Mozilla Firefox, Apple Safari.</label>
</div>
<div>
<label style="float:left" class="msg-red">Might not work in Microsoft Internet Explorer.</label>
</div>

<br><br>
Website UI is responsive, all layout is mobile screen friendly, so you can use the same set of
feature on your mobile browser. e.g
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-8">
<h2>Desktop Page</h2>
<img  class="img-responsive" src="img/desktop2.png"></img>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<h2>Mobile Page</h2>
<img  style="max-height:360px" class="img-responsive" src="img/mobile2.png"></img>
</div>
</div>
</p>

<h2 >Disclaimer</h2>
<p>
This website is built just as a hobby project which is not meant to be use for  exhaustive,
secured and professional use. So i would be glad if this website could help you in any way.
All the information and service provided on this website are for general purpose. while i endeavour to keep your info secure and
provide uptodate and correct info from my side, i make no reprsentation of warrranties
of any kind, express or implied about accuracy, reliability and availability of the services
of this website.<br><br>
In no event i will be liable or responsible for any damage or loss incurred with the use of this
website. Any reliance on this website  is strictly at your own risk. Please do read
Privacy statement and term and condition of use of this website for more info.<br><br>

If you find any content that is objectionable or  copyright and infringement violation.
please mail to me at below address with explanation and proof, then only action will be taken.
<address>
<h2>Contact</h2>
WrittenBy: Kr Vikash<br>
Mailto: <u><a style="color:black" href="mailto:krvikash35@gmail.com">krvikash35@gmail.com</a></u><br>
Website:<u><a style="color:black" href="http://www.trackourmoney.com">trackourmoney.com</a></u><br>
Bangalore<br>
India
</address>
</p>

</div>
