<div ng-show="error" class="alert alert-danger">{{error}}</div>

<div ng-show="isLoginFormVisible">
  <h3>Login</h3>
  <form role="form"   class="login-form" ng-submit="submitLoginForm()">
    <div class="form-group">
      <input type="text" ng-model="loginUsername" name="loginUsername" placeholder="Username..." class="form-control" id="form-username" required>
    </div>
    <div class="form-group">
      <input type="password" ng-model="loginPassword" name="loginPassword" placeholder="Password..." class="form-control" id="form-password" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in!  </button>
  </form>
  <a style="padding-top:15px" href="" ng-click="toggleLoginAndRegView()"  ><span class="glyphicon glyphicon-user"></span>Register here!</a>
</div>



<div   ng-show="isRegFormVisible">
  <h3>Register</h3>
  <form role="form" class="registration-form" ng-submit="submitRegForm()">
    <div class="form-group">
      <input type="text" name="regName" placeholder="Enter Name..." class="form-control" id="form-first-name">
    </div>
    <div class="form-group">
      <input type="text" name="regEmail" placeholder="Email..." class="form-control" id="form-email">
    </div>
    <div class="form-group">
      <input type="password" name="regPassword1" placeholder="Enter password..." class="form-control" id="regPassword1">
    </div>
    <div class="form-group">
      <input type="password" name="regPassword2" placeholder="Re-Enter password..." class="form-control" id="regPassword2">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up!</button>
    <a href="" ng-click="toggleLoginAndRegView()" ><span class="glyphicon glyphicon-log-in">Signin here!</a>
  </form>
</div>
