<div id="carousel" class="carousel slide" >
    <ol class="carousel-indicators">
        <li data-target="Carousel" data-slide-to="0" class="active"></li>
        <li data-target="Carousel" data-slide-to="1"></li>
        <li data-target="Carousel" data-slide-to="2"></li>
        <li data-target="Carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="img/beauti1.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="img/beauti2.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="img/beauti3.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="img/beauti4.jpg" class="img-responsive">
        </div>
    </div>
    <span class="left carousel-control"  data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control"  data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </span>


</div>
