

<div ng-class="navbarTheme" class="navbar col-sm-12" ng-class="!navCollapsed && 'in'">
  <ul class="nav navbar-nav ">
    <li ><a href="" class="col-md-2 col-sm-2 col-xs-2" ng-click="openAbout('lg')" >About</a></li>
    <li ><a href=""class="col-md-2 col-sm-2 col-xs-2" ng-click="openPrivacy('lg')" >Privacy</a></li>
    <li ><a href="" class="col-md-2 col-sm-5 col-xs-5"  ng-click="openTC('lg')">TermAndCondition</a></li>
    <li><a  class="col-md-2 col-sm-2 col-xs-2 ">&copy2015</a></li>
  </ul>
</div>
