<div ng-show="isLogged">

  <div  class="panel panel-primary">
    <div class="panel-heading"><a  href="" e-placeholder="Enter Group Name" e-style="width:65%" e-class="input-box " e-required editable-text="grName" onbeforesave=createNewGroup($data) >Group <i class="fa fa-plus-circle"></i></a> <span ng-if="grAcctResp"  class={{msgType}} >{{grAcctResp}}</span></div>
    <div class="panel-body">
      <i   ng-repeat="a in userGroup">
        <div  class="panel panel-primary">
          <div class="panel-heading"  >{{a.grName}}
            <i ng-click="isAdminGroup(a)"
            ng-if="a.grAdmin==userEmail" style="margin-left:4px"class="fa fa-pencil-square-o fa-lg"> </i>
            <i ng-if="a.grAdmin==userEmail" ></i>


            <div class="btn-group" auto-close="disabled" uib-dropdown>
              <button id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                <i class="fa fa-list-ul"></i> <span class="caret"></span>
              </button>
              <ul class="uib-dropdown-menu" template-url="dropdown.html" aria-labelledby="button-template-url">
              </ul>
            </div>
            <script type="text/ng-template" id="dropdown.html">
            <ul style="background-color:red" class="uib-dropdown-menu" role="menu" aria-labelledby="button-template-url">
            <table class="table table-bordered  table-condensed">
            <tr>
            <td><input ng-model="grItem" class="form-control"></input></td>
            <td><button ng-click="saveGrTemplate(a.grTemplate, grItem, 1)" class="btn btn-success">Save</button>
            </tr>
            <tr ng-repeat="item in a.grTemplate">
            <td >{{item}}</td>
            <td><button ng-click="saveGrTemplate(a.grTemplate, item, 2)" class="btn btn-danger">Del</button></td>
            </tr>
            </table>
            </ul>
            </script>




            <i ng-click="deleteGroup(a._id)" ng-if="a.grAdmin==userEmail" style="float:right;margin-left:4px"
            class="btn btn-danger fa fa-trash-o fa-lg"></i>
            <i style="float:right">Admin:{{a.grAdmin | nameByEmail:a.grMember}}</i>
          </div>
          <div class="panel-body">
            <table  class="table  table-bordered table-condensed ">
              <thead>
                <tr >
                  <th>Member Name</th>
                  <th>Member Email</th>
                  <th ng-if="a.isAdmin">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr  ng-repeat="m in a.grMember">
                  <td ng-if="!m.isDeleted" >{{m.grMemName}}</i></td>
                  <td ng-if="!m.isDeleted" style="display: table-cell; max-width: 0; overflow: hidden;overflow: auto;">{{m.grMemEmail}}</td>
                  <td  ng-if="a.isAdmin && !m.isDeleted"><level class="btn btn-danger col-md-4 col-sm-6 col-xs-12"   ng-click="deleteGrMem(m, a._id, m.grMemEmail)"><i class="fa fa-trash-o fa-lg"></i>Delete</level></td>
                </tr>
                <tr ng-if="a.isAdmin">
                  <td class="row"colspan="3">
                    <form class="form  " ng-submit="sendInviteForAddtoGroup(m,  a._id, m.inviteeEmail)">
                      <div class="">
                        <input style="float:left" id="inviteeEmail" class="col-sm-4 col-md-4 form-control input-box" ng-model="m.inviteeEmail" type="email" ng-required="true"   ng-type="email"  placeholder="Enter Invitee Email...notification will be send to join the group"/>
                      </div>
                      <button style="margin-top:3px" ng-disabled="m.inProgress"  class="col-xs-12 col-md-2 col-sm-3 btn btn-success " type="submit"><i class="fa fa-user-plus"></i>Invite Member</button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </i>
    </div>
  </div>
</div>
