

<nav class="navbar navbar-inverse ">

  <div class="navbar-header dropdown-menu-left">
    <a href="#/" class="navbar-brand"> TrackOurMoney</a>
    <a ng-click="getUserNoti()" ng-model="noti.templateUrl"  popover-placement="bottom" uib-popover-template="noti.templateUrl" popover-title="{{dynamicPopover.title}}" ><i class=" fa fa-bell-o "></i></a>
  </div>
  <div class="navbar-header dropdown-menu-left">
    <ul class="nav pull-left">
      <li class="dropdown dropdown-menu-right" uib-dropdown is-open="status.isopen">
        <a href="" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" style="color:#777; margin-top: 5px;" >
          <i class="fa fa-share-alt"></i><i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://www.trackourmoney.com" class="btn-facebook"><i class="fa fa-facebook">facebook</i></a></li>
            <li><a target="_blank" href="https://plus.google.com/share?url=http://www.trackourmoney.com" class="btn-google"><i class="fa fa-google-plus">Google+</i></a></li>
            <li><a target="_blank" href="https://twitter.com/intent/tweet?url=http://www.trackourmoney.com&via=TWITTER-HANDLE" class="button twitter"><i class="fa fa-twitter">Twitter</i></a></li>
          </ul>
        </li>
      </ul>
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-left" ng-class="!navCollapsed && 'in'" >
      <ul class="nav navbar-nav pull-left">
        <li><a href="#/user/{{userId}}/info" ng-click="navCollapsed = !navCollapsed">Account</a></li>
        <li><a href="#/user/{{userId}}/group" ng-click="navCollapsed = !navCollapsed">Group</a></li>
        <li><a href="#/user/{{userId}}/trx" ng-click="navCollapsed = !navCollapsed">Transaction</a></li>
        <li><a href="#/user/{{userId}}/report" ng-click="navCollapsed = !navCollapsed">Report</a></li>
        <li><a href="http://blog.trackourmoney.com" ng-click="navCollapsed = !navCollapsed" target="_blank">Blog</a></li>
        <li style=""><a style="ssborder-radius: 50%;" > <i class=" fa fa-bell-o "></i></a></li>
        <li><a ng-show="isLogged" href=""ng-click="navCollapsed = !navCollapsed;logout()"><b><i class="fa fa-lg fa-sign-out"></i>Logout</b></a></li>
      </ul>
    </div>


    <script type="text/ng-template" id="noti.html">
    <div style="color:#212121;height:300px;overflow:hidden; overflow:auto">
    <i ng-repeat="a in userNoti | orderBy:'notiIsRead':false">

    <fieldset ng-disabled="a.notiIsRead==true">
    <div   class="panel panel-primary">
    <div class="panel-heading">{{a.notiSubject}}</div>
    <div class="panel-body">
    {{a.notiText}}
    <div class="row"  ng-if="a.notiType==1">
    <div class="col-xs-6">
    <button ng-click="accetAddToGroupInvite(a._id)" type="submit"  class="col-xs-6 form-control input-button btn btn-primary ">Accept</button>
    </div>
    <div class="col-xs-6">
    <button ng-click="markNotiAsRead(a._id)" type="submit"  class="col-xs-6 form-control input-button btn btn-primary ">Reject</button>
    </div>
    </div>
    <button ng-click="markNotiAsRead(a._id)" ng-if="a.notiType!=1" type="submit"  class="col-xs-6 form-control input-button btn btn-primary ">Mark as Read</button>

    </div>
    </div>
    </fieldset>
    </i>
    </div>
    </script>

  </nav>
