

<nav  ng-class="navbarTheme" class="navbar  ">

  <div class="navbar-header dropdown-menu-left">
    <a href="#/" class="navbar-brand"> TrackOurMoney</a>
    <a href="" style="float:right" class="navbar-brand" ng-click="toggleTheme()" id="themeElementId" > <i class="fa fa-adjust"></i>{{themeElementId}}</a>
  </div>

  <div class="navbar-header dropdown-menu-right">
    <ul class="nav pull-right">
    </ul>
  </div>

  <div class="navbar-header dropdown-menu-left">
    <ul class="nav pull-left">
      <li class="dropdown dropdown-menu-right" uib-dropdown is-open="status.isopen">

        <div style="margin-top:15px;">
          <a href="" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" style="color:#777; margin-top="50px"" >
            <i class="fa fa-share-alt"></i><i class="caret"></i></a>

            <a href=""ng-show="isLogged" style="margin-left:100px" ng-click="getUserNoti()" ng-model="noti.templateUrl"  popover-placement="bottom" uib-popover-template="noti.templateUrl" popover-title="{{dynamicPopover.title}}" ><i class=" fa fa-bell-o "></i>N</a>
          </div>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://www.trackourmoney.com" class="btn-facebook"><i class="fa fa-facebook">facebook</i></a></li>
            <li><a target="_blank" href="https://plus.google.com/share?url=http://www.trackourmoney.com" class="btn-google"><i class="fa fa-google-plus">Google+</i></a></li>
            <li><a target="_blank" href="https://twitter.com/intent/tweet?url=http://www.trackourmoney.com&via=TWITTER-HANDLE" class="button twitter"><i class="fa fa-twitter">Twitter</i></a></li>
          </ul>
        </li>
      </ul>
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-left" ng-class="!navCollapsed && 'in'" >
      <ul class="nav navbar-nav pull-left">
        <li><a id="accountTabButton" href="#/user/{{userId}}/info" ng-click="navCollapsed = !navCollapsed">Account</a></li>
        <li><a href="#/user/{{userId}}/group" ng-click="navCollapsed = !navCollapsed">Group</a></li>
        <li><a href="#/user/{{userId}}/trx" ng-click="navCollapsed = !navCollapsed">Transaction</a></li>
        <li><a href="#/user/{{userId}}/report" ng-click="navCollapsed = !navCollapsed">Report</a></li>
        <li><a id="blogTabButton" href="http://blog.trackourmoney.com" ng-click="navCollapsed = !navCollapsed" target="_blank">Blog</a></li>
        <li><a ng-show="isLogged" href=""ng-click="navCollapsed = !navCollapsed;logout()"><b><i class="fa fa-lg fa-sign-out"></i>Logout{{userName}}</b></a></li>
      </ul>
    </div>



  </nav>



  <script type="text/ng-template" id="noti.html">
  <div style="padding-right:7px;width:260px;max-height:300px;overflow:hidden; overflow:auto" class="notification">
  <i style="" ng-click="deleteNoti('2')" class="btn btn-danger fa fa-trash-o fa-lg">All</i>
  <i  ng-click="deleteNoti('3')" style="float:right;"class="btn btn-danger fa fa-trash-o fa-lg">Read</i>
  <br>
  <i   class="fa fa-search fa-2x notiSearch"><input style="float:right;width:85%" ng-model="searchText" placeholder="By Group, Member...etc" class="form-control input-box"></input></i>


  <i ng-repeat="a in userNoti | filter:searchText | orderBy:['notiIsRead', '-notiDate']">
  <fieldset ng-disabled="a.notiIsRead==true">
  <div   style="margin:5px"class="panel panel-primary">
  <div class="panel-heading">{{a.notiSubject}}</div>
  <div class="panel-body">
  <p class="notiText">{{a.notiText}}</p>
  <div class="row"  ng-if="a.notiType==1">
  <div class="col-xs-6">
  <button ng-click="accetAddToGroupInvite(a._id)" type="submit"  class="col-xs-6 form-control input-button btn btn-primary ">Accept</button>
  </div>
  <div class="col-xs-6">
  <button ng-click="markNotiAsRead(a._id)" type="submit"  class="col-xs-6 form-control input-button btn btn-primary ">Reject</button>
  </div>
  </div>
  <button ng-click="markNotiAsRead(a._id)" ng-if="a.notiType!=1" type="submit"  class="col-xs-6 form-control input-button btn btn-primary ">Mark as Read</button>

  </div>
  </div>
  </fieldset>
  </i>
  <i ng-if="userNoti.length==0" style="color:#D7CCC8;margin-left:50px">No notification</i>
  </div>
  </script>
