<div ng-show="isLogged"  style="margin: 4px; padding: 0px", class="panel panel-primary">
  <div class="panel-heading">Individual Transaction</div>
  <div class="panel-body">
    <div ng-show="usrReportResp" class={{msgType}} >{{usrReportResp}}</div>
    <div class="row">
      <div class="form-inline col-sm-12 col-md-12 ">
        <div class="form-group">
          <label >Search In:</label>
          <select  ng-init="prop='$'" ng-model="prop" class="form-control">
            <option value="$">All</option>
            <option value="amount">amount</option>
            <option value="type">type</option>
            <option value="source">source</option>
            <option value="destination">destination</option>
            <option value="description">description</option>
          </select>
          <input  class="form-control" ng-model="trxSearch[prop]" placeholder="Type Here" id="query">

          <label>From:</label>
          <div class="input-group">
            <input ng-change="ValDate()" type="date" class="form-control" show-weeks=false uib-datepicker-popup ng-model="fromDate" is-open="isFromDateOpen"   ng-required="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="isFromDateOpen=!isFromDateOpen"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <label>To:</label>
          <div class="input-group">
            <input ng-change="ValDate()" type="date" class="form-control" uib-datepicker-popup ng-model="toDate" is-open="isToDateOpen"  ng-required="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="isToDateOpen=!isToDateOpen"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>

        </div>
      </div>
    </div>
    <p></p>
    <div class="table-responsive col-md-12">
      <table class="table table-bordered table-striped table-condensed ">
        <thead>
          <tr>
            <th ng-init="asc=!asc; orderProp=date" ng-click="asc=!asc; orderProp=date">Date</th>
            <th ng-click="asc=!asc; orderProp=amount">Amount</th>
            <th ng-click="asc=!asc; orderProp=type">Trx Type</th>
            <th ng-click="asc=!asc; orderProp=source">Trx Source</th>
            <th ng-click="asc=!asc; orderProp=destination">Trx Destination</th>
            <th ng-click="asc=!asc; orderProp=description">Description</th>
          </tr>
        </thead>
        <tbody>

          <tr  ng-repeat="a in userTrxReport | reportDateRange:fromDate:toDate | filter:trxSearch | orderBy:orderProp:asc">
            <td>{{a.date | date:'dd-MMM-yyyy'}}</td>
            <td>{{a.amount}}</td>
            <td>{{a.type}}</td>
            <td>{{a.source}}</td>
            <td>{{a.destination}}</td>
            <td>{{a.description}}</td>
          </tr>
        </tbody>
      </table>
      </div>

      </div>
    </div>
