




  <!-- Money Account Related Info -->
  <div style="", class="panel panel-primary col-md-12">
    <div class="panel-heading">Money Account Details</div>
    <div class="panel-body ">
      <div ng-show="msg" class="alert alert-danger">{{msg}}</div>
      <form editable-form name="maform" onaftersave="saveMoneyAccountForm()" oncancel="cancelMoneyAccountForm()">
        <table class="table  table-bordered table-hover table-condensed">
          <tr style="font-weight: bold">
            <td >AccountType</td>
            <td >AccountName</td>
            <td ><span ng-show="maform.$visible">Action</span></td>
          </tr>
          <tr ng-repeat="ma in userMoneyAccount | filter: filterMoneyAccount ">
            <td>
              <span editable-select="ma.type"  e-form="maform" e-ng-options="a as a for a in moneyAccountType">
                {{ma.type}}
              </span>
            </td>
            <td>
              <span editable-text="ma.name" e-form="maform" e-required>
                {{ma.name}}
              </span>
            </td>
            <td><button type="button" ng-show="maform.$visible" ng-click="deleteMoneyAccount(ma.id)" class="btn btn-danger pull-right">
            Del</button></td>
          </tr>
        </table>
        <div class="btn-edit">
          <button type="button" class="btn btn-default" ng-show="!maform.$visible" ng-click="maform.$show()">
            edit
          </button>
        </div>
        <div class="btn-form" ng-show="maform.$visible">
          <button type="button" ng-disabled="maform.$waiting" ng-click="addMoneyAccount()" class="btn btn-default pull-right">add row</button>
          <button type="submit" ng-disabled="maform.$waiting" class="btn btn-primary">save</button>
          <button type="button" ng-disabled="maform.$waiting" ng-click="maform.$cancel()" class="btn btn-default">cancel</button>
        </div>
      </form>
    </div>
  </div>




  <!-- user source of transaction -->
  <div style="", class="panel panel-primary col-sm-6 col-md-6">
    <div class="panel-heading">Expense Source</div>
    <div class="panel-body ">
      <div ng-show="msg" class="alert alert-danger">{{msg}}</div>
      <form editable-form name="expenseSrcForm" onaftersave="saveTable()" oncancel="cancel()">
        <table class="table  table-bordered table-hover table-condensed">
          <tr style="font-weight: bold">
            <td >Expense Source</td>
            <td ><span ng-show="expenseSrcForm.$visible">Action</span></td>
          </tr>
          <tr ng-repeat="expenseSource in userSourceOfTrx.expenseSource ">
            <td>
              <span editable-text="expenseSource" e-form="expenseSrcForm" >
                {{expenseSource}}
              </span>
            </td>
            <td><button type="button" ng-show="expenseSrcForm.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">Del</button></td>
          </tr>
        </table>
        <div class="btn-edit">
          <button type="button" class="btn btn-default" ng-show="!expenseSrcForm.$visible" ng-click="expenseSrcForm.$show()">
            edit
          </button>
        </div>
        <div class="btn-form" ng-show="expenseSrcForm.$visible">
          <button type="button" ng-disabled="expenseSrcForm.$waiting" ng-click="addMoneyAccount()" class="btn btn-default pull-right">add row</button>
          <button type="submit" ng-disabled="expenseSrcForm.$waiting" class="btn btn-priincomeSourcery">save</button>
          <button type="button" ng-disabled="expenseSrcForm.$waiting" ng-click="expenseSrcForm.$cancel()" class="btn btn-default">cancel</button>
        </div>
      </form>
    </div>
  </div>





  <!-- user income soruce -->
  <div style="", class="panel panel-primary col-sm-6 col-md-6">
    <div class="panel-heading">Income Source</div>
    <div class="panel-body ">
      <div ng-show="msg" class="alert alert-danger">{{msg}}</div>
      <form editable-form name="incomeSrcForm" onaftersave="saveTable()" oncancel="cancel()">
        <table class="table  table-bordered table-hover table-condensed">
          <tr style="font-weight: bold">
            <td >IncomeSource</td>
            <td ><span ng-show="incomeSrcForm.$visible">Action</span></td>
          </tr>
          <tr ng-repeat="incomeSource in userSourceOfTrx.incomeSource ">
            <td>
              <span editable-text="incomeSource" e-form="incomeSrcForm" >
                {{incomeSource}}
              </span>
            </td>
            <td><button type="button" ng-show="incomeSrcForm.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">Del</button></td>
          </tr>
        </table>
        <div class="btn-edit">
          <button type="button" class="btn btn-default" ng-show="!incomeSrcForm.$visible" ng-click="incomeSrcForm.$show()">
            edit
          </button>
        </div>
        <div class="btn-form" ng-show="incomeSrcForm.$visible">
          <button type="button" ng-disabled="incomeSrcForm.$waiting" ng-click="addMoneyAccount()" class="btn btn-default pull-right">add row</button>
          <button type="submit" ng-disabled="incomeSrcForm.$waiting" class="btn btn-priincomeSourcery">save</button>
          <button type="button" ng-disabled="incomeSrcForm.$waiting" ng-click="incomeSrcForm.$cancel()" class="btn btn-default">cancel</button>
        </div>
      </form>
    </div>
  </div>


  <!-- User Basic Info -->
  <div style="", class="panel panel-primary col-md-12">
    <div class="panel-heading">Basic Info</div>
    <div class="panel-body">
      <div>
        <span class="title">Full name: </span>
        <a href="" editable-text="userBasicInfo.fullname">{{userBasicInfo.fullname || empty}}</a>
      </div>
      <div>
        <span class="title">Email: </span>
        <label>{{userBasicInfo.email}}
        </div>
        <div>
          <span class="title">Phone: </span>
          <label>{{userBasicInfo.phone}}</label>
        </div>
        <div>
          <span class="title">Change Password: </span>
          <a href="#" e-name="password" e-type="password" editable-text="userBasicInfo.password">***********</a>
        </div>
        <div>
          <span class="title">Joined Date: </span>
          <label>{{userBasicInfo.creatDate | date}}</label>
        </div>
        <div>
          <span class="title">Last Updated: </span>
          <label>{{userBasicInfo.updateDate | date}}</label>
        </div>
      </div>
    </div>
