<div ng-show="isLogged"  style="margin: 4px; padding: 0px", class="panel panel-primary">
  <div class="panel-heading">Individual Transaction</div>
  <div class="panel-body">
    <div ng-show="usrReportResp" class={{msgType}} >{{usrReportResp}}</div>
    <div class="row">
      <div class="form-inline col-sm-12 col-md-12 ">
        <div class="form-group">
          <label >Search In:</label>
          <select  style="background-color:#795548;color:#D7CCC8" ng-init="prop='$'" ng-model="prop" class="form-control">
            <option value="$">All</option>
            <option value="amount">amount</option>
            <option value="type">type</option>
            <option value="source">source</option>
            <option value="destination">destination</option>
            <option value="description">description</option>
          </select>
          <input  style="background-color:#795548;color:#D7CCC8" class="form-control" ng-model="trxSearch[prop]" placeholder="Type Here" id="query">


          <div class="input-group">
            <input  ng-show="false" ng-model="fromDate" ng-change="ValDate()" type="date" class="form-control" show-weeks=false uib-datepicker-popup="dd-MMM-yyyy"  is-open="isFromDateOpen"   ng-required="true" />
            <span class="input-group-btn">
              <button style="background-color:#795548;color:#D7CCC8" type="button" class="btn btn-default" ng-click="isFromDateOpen=!isFromDateOpen"><i class="glyphicon glyphicon-calendar"><b>From:</b>{{fromDate | date:'dd-MMM-yyyy'}}</i></button>
            </span>
          </div>
          <div class="input-group">
            <input ng-show="false" ng-model="toDate" ng-change="ValDate()" type="date" class="form-control" show-weeks=false uib-datepicker-popup  is-open="isToDateOpen"  ng-required="true" />
            <span class="input-group-btn">
              <button style="background-color:#795548;color:#D7CCC8" type="button" class="btn btn-default" ng-click="isToDateOpen=!isToDateOpen"><i class="glyphicon glyphicon-calendar"><b>To:</b>{{toDate | date:'dd-MMM-yyyy'}}</i></button>
            </span>
          </div>

        </div>
      </div>
    </div>
    <p></p>
    <div class="table-responsive col-md-12">
      <table class="table table-bordered  table-condensed ">
        <thead uib-tooltip="Click to any column to sort" tooltip-placement="bottom" tooltip-trigger="mouseenter">
          <tr >
            <th  ng-init="asc=!asc; orderProp=date" ng-click="asc=!asc; orderProp=date"><a>Date</a></th>
            <th ng-click="asc=!asc; orderProp=amount"><a >Amount</a></th>
            <th ng-click="asc=!asc; orderProp=type"><a>Trx Type</a></th>
            <th ng-click="asc=!asc; orderProp=source"><a>Trx Source</a></th>
            <th ng-click="asc=!asc; orderProp=destination"><a>Trx Destination</a></th>
            <th ng-click="asc=!asc; orderProp=description"><a>Description</a></th>
          </tr>
        </thead>
        <tbody>

          <tr  ng-repeat="a in (filterdTrx=(userTrxReport | reportDateRange:fromDate:toDate | filter:trxSearch | orderBy:orderProp:asc)) ">
            <td>{{a.date | date:'dd-MMM-yyyy'}}</td>
            <td>{{a.amount}}</td>
            <td>{{a.type}}</td>
            <td>{{a.source}}</td>
            <td>{{a.destination}}</td>
            <td>{{a.description}}</td>
          </tr>
          <tr>
            <td><b>Total:</b></td>
            <td><b>{{calTotalAmount(filterdTrx)}}<b></td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
