/*
body{
  max-width: 300px;
  border: solid 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}*/

@media (min-width: 1200px) {
  .container{
    width: 970px;
  }
}

.feed, .auth, .navigation, .content, .header, .footer, .container{
  box-shadow: 0 1px 1px black;
}
.registration-form, .login-form{
  max-width: 350px;
}
